<div class="arial">
    <div class="sidenav">
        <a (click)="userMgmtNav()">User Management</a>
        <a (click)="eventMgmtNav()">Event Management</a>
        <a (click)="userViewNav()">User View</a>
    </div>

    <div class="main">
        <h2>Edit a User</h2>
        <form #userEdit="ngForm" (ngSubmit)="saveUser()">
            <table>
                <tr>
                    <td><label for="fname">First Name:</label></td>
                    <td><input [class.has-error]="fnameControl.invalid && fnameControl.touched" id="fname"  [(ngModel)]="user.FirstName" #fnameControl="ngModel" type="text" name="fname" type="text" placeholder="E.g. Jane" /></td>
                    <td class="help-block" *ngIf="fnameControl.invalid && fnameControl.touched">User's first name is required.</td>
                </tr>
                <tr>
                    <td><label for="lname">Last Name:</label></td>
                    <td><input type="text" [class.has-error]="lnameControl.invalid && lnameControl.touched" id="lname"  [(ngModel)]="user.LastName" #lnameControl="ngModel" type="text" name="lname" placeholder="E.g. Doe" /></td>
                    <td class="help-block" *ngIf="lnameControl.invalid && lnameControl.touched">User's last name is required.</td>
                </tr>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input [class.has-error]="emailControl.invalid && emailControl.touched" type="text" id="email" name="email"  [(ngModel)]="user.Email" #emailControl="ngModel" type="text" placeholder="E.g. janedoe@example.com"></td>
                    <td class="help-block" *ngIf="emailControl.invalid && emailControl.touched">User's email is required.</td>
                </tr>
                <tr>
                    <td><label for="pass">Password:</label></td>
                    <td><input [class.has-error]="passControl.invalid && passControl.touched" type="password" id="pass" name="pass"  [(ngModel)]="user.Password" #passControl="ngModel" type="password" placeholder="Password" /></td>
                    <td class="help-block" >Leave Password Empty, if no change is intended.</td>
                </tr>
                <tr>
                    <td><label for="role">Role:</label></td>
                    <td><select [class.has-error]="roleControl.invalid && roleControl.touched"  [(ngModel)]="user.Role"  #roleControl="ngModel" id="role" name="role">
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select></td>
                    <td class="help-block" *ngIf="roleControl.invalid && roleControl.touched">Please select a role.</td>
                </tr>
            </table>
            <button class="button" type="submit" [disabled]="userEdit.invalid">Save</button>
            <button class="button" type="reset" (click)="backToUsers()">Cancel</button>
            <!--Both buttons must redirect on clicks-->
            <div class="row"  *ngIf="showMsg">
                <div class="col-xs-12">
                  <p class="alert alert-success">
                      <strong>Edit Success!</strong>
        
                  </p>
                </div>
              </div>
        </form>
    </div>
</div>