.arial{font-family: Arial, Helvetica, sans-serif; color: #093426;}
a             {color: #093426}
a:visited     {color: #47947C}
.add-user-link {
  float: right; 
  background-color: white; 
  color:#093426;
  border: none; 
  text-decoration: underline;
  font-size: 16px;
}

.link-buttons{
  background-color: none;
  color:#093426;
  border: none; 
  text-decoration: underline;
  font-size: 16px;
}

table       {width: 100%;}
td,th       {width: 2in; height: 1cm;}
td          {padding-left: 10px;}
th,h2       {color:#F3F7D4 !important; background-color:#093426 !important}
.even       {color:#093426 !important; background-color:#F3F7D4 !important}
.odd        {color:#093426 !important; background-color:#ACD7CA !important}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #B6C653;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #093426;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #47947C;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
